<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LinkedIF</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/icon.svg') }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.svg') }}" type="image/x-icon">
    </head>

    <body>
        <div class="center">
            <div class="container">

                <h1 class="logo"><strong><span>Linked</span>IF</strong></h1>

                <p class="subtitle">Enviamos um código de verificação para <b>{{ professor.email }}</b></p>

                <form id="cadastroData">

                    <label for="codigo">Código de verificação</label>
                    <input type="text" id="codigo" name="codigo" placeholder="Digite o código" required>

                    <button type="button" class="login-btn" id="confirmarBtn">confirmar</button>
                    <span id="textErrorConfirmar" class="error"></span>
                </form>

            </div>
        </div>
        <script src="{{ url_for('static', filename='js/confirmarProfessor.js') }}"></script>
    </body>
</html>
