<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LinkedIF</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/icon.svg') }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.svg') }}" type="image/x-icon">
    </head>
    <body>
        <div class="center">
            <div class="container">

                <h1 class="logo"><strong><span>Linked</span>IF</strong></h1>

                <h2 class="title"><b>Cadastre-se</b></h2><br>

                <form id="cadastroAluno">  

                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" placeholder="Nome completo" value="{{ session.get('aluno_temp', {}).get('name', '') }}" required>

                    <label for="cpf">CPF</label>
                    <input type="text" name="cpf" id="cpf" placeholder="000.000.000-00" value="{{ session.get('aluno_temp', {}).get('cpf', '') }}" required>

                    <label for="dataDeNascimento">Data de Nascimento</label>
                    <input type="date" name="dataDeNascimento" id="dataDeNascimento" value="{{ session.get('aluno_temp', {}).get('birthdate', '') }}" placeholder="000.000.000-00" required>

                    <label for="turma">Turma:</label>
                    {% set turma = session.get('aluno_temp', {}).get('class', '') %}
                    <select id="turma" name="turma" required>
                        <option value="" disabled {% if not turma %}selected{% endif %}>
                            Selecione seu curso
                        </option>

                        <option value="1° INFO" {% if turma == "1° INFO" %}selected{% endif %}>
                            1° Informática
                        </option>

                        <option value="2° INFO" {% if turma == "2° INFO" %}selected{% endif %}>
                            2° Informática
                        </option>

                        <option value="3° INFO" {% if turma == "3° INFO" %}selected{% endif %}>
                            3° Informática
                        </option>
                        
                        <option value="1° ADM" {% if turma == "1° ADM" %}selected{% endif %}>
                            1° Administração
                        </option>

                        <option value="2° ADM" {% if turma == "2° ADM" %}selected{% endif %}>
                            2° Administração
                        </option>

                        <option value="3° ADM" {% if turma == "3° ADM A" %}selected{% endif %}>
                            3° Administração A
                        </option>
                        <option value="3° ADM" {% if turma == "3° ADM B" %}selected{% endif %}>
                            3° Administração B
                        </option>

                        <option value="1° AGRO" {% if turma == "1° AGRO" %}selected{% endif %}>
                            1° Agropecuária
                        </option>

                        <option value="2° AGRO A" {% if turma == "2° AGRO A" %}selected{% endif %}>
                            2° Agropecuária A
                        </option>

                        <option value="2° AGRO B" {% if turma == "2° AGRO B" %}selected{% endif %}>
                            2° Agropecuária B
                        </option>

                        <option value="3° AGRO" {% if turma == "3° AGRO" %}selected{% endif %}>
                            3° Agropecuária
                        </option>
                        
                        <option value="1° MIN" {% if turma == "1° MIN" %}selected{% endif %}>
                            1° Mineração
                        </option>

                        <option value="2° MIN" {% if turma == "2° MIN" %}selected{% endif %}>
                            2° Mineração
                        </option>

                        <option value="3° MIN" {% if turma == "3° MIN" %}selected{% endif %}>
                            3° Mineração
                        </option>

                    </select>

                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="emailAluno" placeholder="capau.matricula@aluno.ifpi.edu.br" value="{{ session.get('aluno_temp', {}).get('email', '') }}" required>

                    <label for="senha">Senha</label>
                    <div class="input-group">
                        <input type="password" id="senhaAluno" name="senha" placeholder="Mínimo 8 caracteres" value="{{ session.get('aluno_temp', {}).get('password', '') }}" required>
                        <span class="eye" id="eyeAluno">👁</span>
                    </div>

                    <button type="button" class="login-btn" id="cadastroAlunoBtn">Cadastrar</button>

                    <span id="textErrorAluno" class="error"></span>

                </form>

                <p class="register">Já tem uma conta? <a href="/" id="registerBtn">Faça login</a></p>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/cadastroAluno.js') }}"></script>
    </body>
</html>