<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno</title>
</head>
    <body>
        <img src="{{ url_for('static', filename='img/icon.svg') }}" alt="Ícone Instituto Federal" width="25"> <br>

        <form action="/cadastrarProfessor" method="POST">
            <label>Nome:</label><br>
            <input type="text" name="name" required><br><br>

            <label>Senha:</label><br>
            <input type="password" name="password" required><br><br>

            <label>Data de Nascimento:</label><br>
            <input type="date" name="birthdate" required><br><br>

            <label>CPF:</label><br>
            <input type="text" name="cpf" maxlength="11" required><br><br>

            <label>Email:</label><br>
            <input type="email" name="email"><br><br>

            <button type="submit">Cadastrar</button>
            <button onclick="window.location.href='{{ url_for('home') }}'">Voltar</button>
        </form>
    </body>
</html>